<h1>My Keys</h1>
<p><a href="{% url django_sshkey.views.userkey_add %}">Add Key</a></p>
<table>
  <tr>
    <th>Key</th>
    <th>Fingerprint</th>
    <th>Created</th>
    <th>Last Modified</th>
    <th></th>
  </tr>
{% for userkey in userkey_list %}
  <tr>
    <td>{{ userkey.name }}</td>
    <td>{{ userkey.fingerprint }}</td>
    <td>{{ userkey.created }}</td>
    <td>{{ userkey.last_modified }}</td>
    <td><a href="{% url django_sshkey.views.userkey_edit userkey.pk %}">Edit</a></td>
    <td><a href="{% url django_sshkey.views.userkey_delete userkey.pk %}">Delete</a></td>
  </tr>
{% endfor %}
</table>
